Boolean Data type

In [1]:
input1=10
input2=20.5

In [2]:
print(input1>input2)

False

In [4]:
print(bool(input1))

True

In [5]:
input3=None
print(bool(input3))

False

In [6]:
print(input1<input2)

True

In [16]:
list1=[1,2,3,4,5]
print(bool(list1))

True

In [17]:
list2=[]
print(bool(list2))

False

Operators

1.Arithmetic Operators

In [8]:
x=10
y=20
print(x+y)

30

In [9]:
print(x-y)

-10

In [10]:
print(x*y)

200

In [11]:
print(x/y)

0.5

In [12]:
x=11
y=2
print(x/y)

5.5

In [13]:
print(x//y) # floor division

5

In [15]:
print(x%y) # Modulus

1

Assignment Operator

In [18]:
a=15
a+=10
print(a)

25

In [20]:
a-=10
print(a)

5

In [21]:
a*=10
print(a)

50

In [22]:
a/=10
print(a)

5.0

Comparison Operator

In [23]:
x=10
y=10
print(x==y)

True

In [24]:
x=25
print(x>y)

True

In [25]:
print(x<y)

False

In [26]:
print(x!=y)

True

Logical operator

In [27]:
a=24
b=12
print((x>y) and (a>b))

True

In [29]:
print((x==y) and (a>b))

False

In [30]:
print((x<y) and (a>b))

False

In [31]:
print((x<y) or (a>b))

True

Is and In operator

In [32]:
list1=["sundhar","Prasanth",1,2,34]
list2=[23,45,"abs","blow"]
list3=list1

In [33]:
print(list1 is list3)

True

In [34]:
print(34 in list1)

True

In [36]:
var1=23.54
var2=int(var1)
var2

23

In [38]:
var3=var1*var2

In [39]:
type(var3)

float

In [40]:
a=100
b=19.7
print(a>b)

True

In [ ]:
 8