List

In [1]:
companies=["Apple","Google","Samsung","Amazon"]
type(companies)

list

In [2]:
print(companies[0])

Apple

In [3]:
print(companies[-1])

Amazon

In [4]:
print(companies[0:2])

['Apple', 'Google']

In [5]:
print(companies[2:])

['Samsung', 'Amazon']

In [6]:
print(companies[-3:-1])

['Google', 'Samsung']

In [7]:
print(companies[0:3:2])

['Apple', 'Samsung']

In [8]:
print(companies[:-1])

['Apple', 'Google', 'Samsung']

Adding the item in list

In [9]:
companies.append("Haier")

In [10]:
companies

['Apple', 'Google', 'Samsung', 'Amazon', 'Haier']

In [11]:
companies.insert(1,"Flipkart")

In [12]:
print(companies)

['Apple', 'Flipkart', 'Google', 'Samsung', 'Amazon', 'Haier']

removing,deleting and pop in list

In [13]:
companies.remove("Amazon")

In [14]:
print(companies)

['Apple', 'Flipkart', 'Google', 'Samsung', 'Haier']

In [15]:
companies.append("Amazon")

In [16]:
del companies[2]

In [17]:
companies

['Apple', 'Flipkart', 'Samsung', 'Haier', 'Amazon']

In [18]:
companies.pop()

'Amazon'

In [19]:
companies

['Apple', 'Flipkart', 'Samsung', 'Haier']

Copy a List

In [20]:
companies1=companies
companies2=companies.copy()
print(companies1 is companies)
print(companies2 is companies)

True
False

In [21]:
print(companies1)
print(companies2)

['Apple', 'Flipkart', 'Samsung', 'Haier']
['Apple', 'Flipkart', 'Samsung', 'Haier']

Combine list

In [22]:
companies3=companies1+companies2
print(companies3)

['Apple', 'Flipkart', 'Samsung', 'Haier', 'Apple', 'Flipkart', 'Samsung', 'Haier']

Sorting

In [23]:
print(sorted(companies3))

['Apple', 'Apple', 'Flipkart', 'Flipkart', 'Haier', 'Haier', 'Samsung', 'Samsung']

Clearing the list

In [24]:
#companies3.clear()

Other Operation

In [26]:
print(companies*2)

['Apple', 'Flipkart', 'Samsung', 'Haier', 'Apple', 'Flipkart', 'Samsung', 'Haier']

In [27]:
print(min(companies))

Apple

Tuple

In [32]:
companies_tup=('Apple', 'Google', 'Samsung', 'Amazon', 'Haier')

In [33]:
print(type(companies_tup))

<class 'tuple'>

In [34]:
print(companies_tup[0])

Apple

In [35]:
companies_tup[0]="Samsung"

TypeError: 'tuple' object does not support item assignment

In [36]:
companies_tup2=('Apple', 'Google', 'Samsung', 'Amazon', 'Haier',[1,2,3])

In [37]:
print(companies_tup2[5])

[1, 2, 3]

Assignment

In [38]:
fruits=["mango","kiwi","butter fruit","orange"]
print(fruits)

['mango', 'kiwi', 'butter fruit', 'orange']

In [39]:
fruits[2]

'butter fruit'

In [42]:
fruits.append("grape")
fruits.append("lemon")

In [43]:
fruits

['mango', 'kiwi', 'butter fruit', 'orange', 'grape', 'grape', 'lemon']

In [44]:
del fruits[4]

In [45]:
fruits

['mango', 'kiwi', 'butter fruit', 'orange', 'grape', 'lemon']

In [47]:
print(fruits*2)

['mango', 'kiwi', 'butter fruit', 'orange', 'grape', 'lemon', 'mango', 'kiwi', 'butter fruit', 'orange', 'grape', 'lemon']

In [48]:
sample_tup=('mango', 'kiwi', 'butter fruit', 'orange')

In [49]:
sample_tup

('mango', 'kiwi', 'butter fruit', 'orange')

In [50]:
del sample_tup

In [51]:
sample_tup

NameError: name 'sample_tup' is not defined