In [1]:
def func():
    print("Hi")
    print("Welcome")
print("This is outside function")

This is outside function

In [2]:
func()

Hi
Welcome

Function to perform the arithmetic operation:

In [3]:
def my_func(x):
    return x+2

In [5]:
print(my_func(4))
print(my_func(10))

6
12

In [6]:
print(my_func("10"))

TypeError: can only concatenate str (not "int") to str

In [7]:
print(my_func())

TypeError: my_func() missing 1 required positional argument: 'x'

In [11]:
def multi_func(*values):
    n=1
    for i in values:
        n*=i
    return n

In [12]:
multi_func(1,2,3,4)

24

lambda

In [13]:
lb_fn=lambda x: x+5
print(lb_fn(5))

10

passing lambda as an argument

In [14]:
comp_list=[("Apple",111),("Yahoo",123),("Amazon",11),("Freshwork",987)]
comp_list.sort(key=lambda x:x[0])
print(comp_list)

[('Amazon', 11), ('Apple', 111), ('Freshwork', 987), ('Yahoo', 123)]

In [15]:
numbers=[1,2,3,4,5,6,7,8]
even_num=list(filter(lambda x:x%2==0,numbers))
print(even_num)

[2, 4, 6, 8]

Practice

In [16]:
# Functions will improve modularity
# Code reusability

In [17]:
def check_num(num):
    if num == 0:
        print("neither positive nor negative")
    elif num < 0:
        print("given number is negative")
    else:
        print("given number is positive")

In [18]:
check_num(5)

given number is positive

In [19]:
check_num(0)

neither positive nor negative

In [20]:
check_num(-3)

given number is negative

In [21]:
def display(day,month,year):
    print(f"{day}-{month}-{year}")
    
def init():
    display(4,5,1996)
    
init()

4-5-1996

In [24]:
# default argument
def display(day,month,year=1996):
    print(f"{day}-{month}-{year}")
    
display(5,4)

5-4-1996

In [27]:
# keyword argument
def display(day,month,year):
    print(f"{day}-{month}-{year}")
    
display(8,month=5,year=1994)

8-5-1994

In [28]:
# arbitary argument
def display(*data):
    print(data)
    
display("alan",25,28)

('alan', 25, 28)

In [30]:
# arbitary argument application
def sum(*values):
    n=0
    for i in values:
        n=n+i
    print(n)

sum(10,20)
sum(10,20,30)
sum(10,2,3,4)

30
60
19

In [31]:
list1=[("eggs",5.25),("potato",525),("tomato",123),("fruit",89)]
list1.sort(key=lambda x :x[0])
print(list1)

[('eggs', 5.25), ('fruit', 89), ('potato', 525), ('tomato', 123)]

In [32]:
list1=[1,2,3,4,5]
list2=list(filter(lambda x:x%2 ==0,list1))
print(list2)

[2, 4]

In [33]:
odds=lambda x:x%2 ==0
list1=list1=[1,2,3,4,5]
list2=list(filter(odds,list1))
print(list2)

[2, 4]

In [34]:
list2=list(map(lambda x:x**2,list1))
list2

[1, 4, 9, 16, 25]

Assignment

In [1]:
def add(a,b):
    c=a+b
    return c

add(5,6)

11

In [7]:
list1=list(filter(lambda x: x%3==0,list(range(1,100))))

In [8]:
print(list1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [14]:
comp_list=[{"age":76},{"age":12},{"age":95},{"age":86}]
comp_list.sort(key=lambda x:x["age"])
print(comp_list)

[{'age': 12}, {'age': 76}, {'age': 86}, {'age': 95}]